extends pug/base

include pug/mixins/skill
include pug/mixins/advantage
include pug/mixins/form-line

block content
  section.intro
    .container.container_grid.container_justify_center.container_direction_column.container_align_center
      h1.header Ты готов стать профессионалом?

      p.text.text_color_gun-powder
        | Мы ищем 
        span.text.text_type_accent талантов 
        | и 
        span.text.text_type_accent саппортов 
        | в команду. Решите на какую категорию вы претендуете. 
      
      button.button.button_type_fill Заполнить анкету

  section.skills
    .container.container_grid.container_wrap
      +skill(
        [
          {
            title: 'Прокачиваем мир',
            text: 'Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?'
          },
          {
            title: 'Мотивируем себя',
            text: 'У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?'
          },
          {
            title: 'Используем лучшее',
            text: 'Вы способны применять разные подходы для достижения своих целей?'
          },
          {
            title: 'Относимся с пониманием',
            text: 'Вы не обвиняете других в свои неудачах и способны воспринимать критику?'
          }
        ]
      )

  section.similar
    .container
      h2.header Мы похожи!

      p.text
        | Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный 
        | эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный 
        | и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации 
        | системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает,
        | что укрепление и развитие структуры способствует подготовки и реализации форм развития.
      
      p.text

        | Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует
        | подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие
        | различных форм деятельности позволяет оценить значение соответствующий условий активизации.
        | С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять
        | важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт
        | укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития.
        | Повседневная практика показывает, что консультация с широким активом представляет собой
        | интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
        | Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения
        | и модернизации соответствующий условий активизации.
    
  section.advantages
    .container.container_width_wide
      h2.header Приемущества работы с нами
      //- TODO Добавить отображение картинок 
      .container_grid
        +advantage(
          [
            {
              imageSrc: 'resources/img/pocket-1.png',
              title: 'Делимся оптом и навыками',
              text: 'Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, '+
              'а команда постоянно совершенствует свои знания и навыки.'
            },
            {
              imageSrc: '',
              title: 'Стабильная зарплата',
              text: 'Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные '+
              'и даем возможность брать оплачиваемый отпуск до 4 недель в год.'
            },
            {
              imageSrc: '',
              title: 'Гибкий график',
              text: 'Мы умеем работать с теми, кто еще не закончил получать образование. '+
              'Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.'
            }
          ]
        )

  section.feedback
    .container.container_width_thin
      h2.header Теперь расскажите о себе

      form
        +form-line(
          [
            {
              order: '1',
              type: 'text',
              label: 'Фамилия и имя',
              placeholder: 'Сидоров Александр',
              value: ''
            },
            {
              order: '2',
              type: 'email',
              label: 'Электронная почта',
              placeholder: 'Sidorov@yandex.ru',
              value: ''
            },
            {
              order: '3',
              type: 'phone',
              label: 'Телефон',
              placeholder: '+7 (999)-328-14-20',
              value: ''
            },
            {
              order: '4',
              type: 'textarea',
              label: 'Какой деятельностью, не связанной с текущими проектами, '+
              'вы бы хотели заниматься в рабочее время?',
              placeholder: 'Свой проект по созданию универсальной инфраструктуры строительства',
              value: ''
            },
          ]
        )

        button.button.button_type_submit Отправить
