body {
  background: $color-white;
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.intro {
  padding-right: 30px;
  padding-left: 30px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 480px;
  }

  &__header {
    margin-top: 44px;
    margin-bottom: 26px;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 38px;
    text-align: center;
    color: $color-gun-powder;
  }

  &__button {
    margin-bottom: 0;
    margin-left: 36px;
  }

  @media all and (max-width: $mobile){ 
    padding-right: 15px;
    padding-left: 15px;

    &__text {
      line-height: 1.25;
    }
  }

}

.skills {
  padding-top: 500px;
  padding-bottom: 80px;
  background-image: url("../resources/img/skills.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-color: $color-whisper;

  &__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill {
    width: 50%;
    padding: 50px 75px 50px 60px;
    box-sizing: border-box;
    border: 1px solid $color-gallery;
    background: $color-white;
    transition: $transition-normal;

    &__title {
      margin-top: 0;
      margin-bottom: 17px;
      color: $color-tango;
      font-family: "DIN Pro";
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.48px;
      line-height: 14px;
      text-transform: uppercase;
    }

    &__text {
      margin-top: 12px;
      margin-bottom: 12px;
      color: $color-mine-shaft;
      font-family: "DIN Pro";
      font-size: 24px;
      font-weight: 400;
      letter-spacing: -0.72px;
      line-height: 29px;
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    }
  }

  @media all and (max-width: $tablet){ 
    padding: 60px 30px 45px 30px;
    background-image: none;

		.skill {
      width: 100%;
      margin-bottom: 15px;
      padding: 50px 60px;
    }
  }

  @media all and (max-width: $mobile){ 
    padding-right: 15px;
    padding-left: 15px;

    .skill {
      padding: 40px 30px;
    }
  }
}

.similar {
  &__container {
    padding: 82px 100px 106px 100px;
  }

  &__header {
    margin-top: 0;
    color: $color-mine-shaft;
    font-family: "DIN Pro";
    letter-spacing: -0.96px;
    line-height: 56px;
  }

  &__text {
    margin-bottom: 28px;
    color: $color-scarpa-flow;
    line-height: 26px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media all and (max-width: $tablet){ 
    &__container {
      padding: 60px 90px 60px 90px;
    }
  }

  @media all and (max-width: $mobile){
    &__container {
      padding: 60px 45px;
    }
  }
}

.advantages {
  padding-top: 120px;
  padding-bottom: 129px;
  background-color: $color-whisper;

  &__container {
    max-width: $container-width-wide;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 62px;
    color: $color-black;
    text-align: center;
  }

  &__grid {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .advantage {
    position: relative;
    top: 0;
    width: calc(100% / 3);
    padding: 0 60px 35px 10px;
    box-sizing: border-box;
    transition: $transition-normal;

    &__image {
      width: 52px;
      height: 52px;
      margin-bottom: 26px;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 24px;
      color: $color-black;
      font-family: "DIN Pro";
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
    }

    &__divider {
      width: 24px;
      height: 2px;
      margin-bottom: 24px;
      background-color: $color-tango;
    }

    &__text {
      margin-bottom: 0;
      color: $color-scarpa-flow;
      line-height: 26px;
    }

    &:hover {
      top: -5px;
    }

  }

  @media all and (max-width: $desktop){ 
    &__container {
      padding-right: 15px;
      padding-left: 15px;
    }

    .advantage {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media all and (max-width: $tablet){ 
    padding-top: 60px;
    padding-bottom: 60px;
    
    &__header {
      margin-bottom: 45px;
    }

    &__grid {
      flex-direction: column;
      align-items: center;
    }
    
    .advantage {
      width: 100%;
      padding-right: 75px;
      padding-left: 75px; 
      padding-bottom: 45px;
      
      &:last-child {
        padding-bottom: 0;
      } 
    }
  }

  @media all and (max-width: $mobile){
    .advantage {
      padding-right: 30px;
      padding-left: 30px;  
    }
  }
}

.feedback {
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: $color-cod-gray;
  
  &__container {
    max-width: $container-width-thin;
    padding: 0 100px;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 83px;
    color: $color-white;
    text-align: center;
  }

  @media all and (max-width: $tablet){ 
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media all and (max-width: $mobile){
    &__container {
      padding: 0 30px;
    }
  }
}

.form-line {
  position: relative;
  display: block;
  margin-bottom: 35px;

  &__order {
    position: absolute;
    top: -20px;
    left: -93px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid rgba($color-white,0.23);
    color: $color-tango;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    box-sizing: border-box;
  }

  &__message,
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: $color-white;
    font-family: "DIN Pro";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.16px;
    line-height: 25px;
  }

  &__input {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-bottom: 2px solid rgba($color-athens-gray,0.1);
    background: none;
    color: rgba($color-white,0.3);
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 35px;
  
    &_textarea {
      resize: none;
    }
  }
  
  &__message {
    min-height: 25px;
    margin-top: 8px;
    margin-bottom: 0;
    color: $color-tango;
    text-transform: uppercase;
  }

  &:last-of-type {
    margin-bottom: 23px;
  }

  @media all and (max-width: $tablet){ 
    &__order {
      left: 0;
    }

    &__label {
      margin-bottom: 30px;
      padding-left: 90px;
    }

    &__input {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}