textarea:focus,
textarea:visited,
textarea:active,
textarea:hover,
input:focus,
input:visited,
input:active,
input:hover,
button:focus,
button:visited,
button:active,
button:hover {
  outline: none;
}