// COLORS
$color-white        : #fff;
$color-black        : #000;
$color-red          : #f00;
$color-gallery      : #ededed;
$color-gray         : #878787;
$color-athens-gray  : #f7f8fa;
$color-scarpa-flow  : #4e4d53;
$color-white        : #ffffff;
$color-mine-shaft   : #222222;
$color-black        : #000000;
$color-tango        : #f47821;
$color-cod-gray     : #161616;
$color-gun-powder   : #4a4556;
$color-whisper      : #f7f5fa;

// FONTS
$smallSize          : .75rem;
$normalSize         : 1rem;
$largeSize          : 1.25rem;
$extraLargeSize     : 2rem;