// COLORS
$color-white              : #fff;
$color-black              : #000;
$color-red                : #f00;
$color-gallery            : #ededed;
$color-gray               : #878787;
$color-athens-gray        : #f7f8fa;
$color-scarpa-flow        : #4e4d53;
$color-white              : #ffffff;
$color-mine-shaft         : #222222;
$color-black              : #000000;
$color-tango              : #f47821;
$color-cod-gray           : #161616;
$color-gun-powder         : #4a4556;
$color-whisper            : #f7f5fa;
$color-alabaster          : #f9f9f9;

// LAYOUT
$container-width-thin     : 772px;
$container-width-normal   : 972px;
$container-width-wide     : 1190px;

// ANIMATION
$transition-fast          : all .17s ease;
$transition-normal        : all .33s ease;
$transition-slow          : all .5s ease;

// BREAKPOINTS
$mobile                   : $container-width-thin;
$tablet                   : $container-width-normal;
$desktop                  : $container-width-wide;