
// COLORS
$color-white      : #fff;
$color-black      : #000;
$color-red        : #f00;

// FONTS
$smallSize        : .75rem;
$normalSize       : 1rem;
$largeSize        : 1.25rem;
$extraLargeSize   : 2rem;

// Temporary clases
body {
  font-size: 16px;
}
#test {
  display: flex;
  transition: all .33s ease;
  box-shadow: -2px 2px 10px rgba($color-black,0.5);
  padding: $normalSize;
  color: $color-black;
  font-size: $extraLargeSize;
}